{% extends "base.html" %}
{% block content %}
    <p class="h1">Please enter your first name and last name</p>
    <form method="post">
    <!--    TODO : have to log in -->
        <div class="input-group">
            <span class="input-group-text">First and last name</span>
            <input type="text" aria-label="First name"
                   name="first_name" class="form-control"
                   placeholder="First name" required>
            <input type="text" aria-label="Last name" class="form-control"
                   name="last_name"
                   placeholder="Last name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}