{% extends "base.html" %}
{% block content %}
    <div>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('name_form') }}">
            {{Button}}
        </a>
    </div>
    <table class="table caption-top">
      <caption>List of Gohost Names</caption>
      <thead>
        <tr>
<!--          <th scope="col">#</th>-->
          <th scope="col">Gohost Names</th>
          <th scope="col">User Email Address</th>
          <th scope="col">User (ghost) Name</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
<!--            <th scope="row">{loop.index}</th>-->
            {% for v in record.values() %}
                <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
