{% extends "base.html" %}

{% block content %}
    <p class="h1">Please select a ghost name</p>
    <form method="post">
        <select name="selected" class="form-select" size="3" multiple>
            {% for k,v in results.items() %}
            <option value="{{k}}">{{v}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Create Ghost name</button>
    </form>
{% endblock %}